.mainHeader {
    color: #BEE6CE;
}
.akapit{
    color: #BCFFDB;
}
body{
    background: #4F9D69;
}
.sectionHeader, .diaryHeader{
    color: #BEE6CE;
    font-size: 64px;
}
.link{
    color: #8DFFCD;
}
.header3{
    color: #8DFFCD;
    font-size: 32px;
}
.header4{
    color: #8DFFCD;
    text-decoration: underline;
    font-size: 28px;
}