body{
    background: #2B050E;
}
.hnav__ahref, .mnav__ahref, .mp__ahref{
    color: #F5CCE8;
}
.mnav__ul, .marticle__ul{
    list-style-type: none;
}
.main__img{

}
.mheader__h1, .marticle__header{
    color: #B57B85;
}
.mnav__p{
    color: #F9D4D1;
}
.msection__h2 {
    color: #B57B85;
    font-size: 48px;
}
.msection__p, .marticle__p, .main__p{
    color: #F9D4D1;
    width: 700px;
 }
.msection__h3{
    color: #B57B85;
    font-size: 32px;
}
.msection__h4{
    color: #B57B85;
    text-decoration: underline;
    font-size: 28px;
}
.msection__ahref, .marticle__ahref{
    color: #FBF5F3;
}
.marticle__img{

}
.body__footer, .marticle__footer{
    color: #F9D4D1;
    font-style: italic; 
    width: 700px;
}