.mheader__h1 {
    color: #BEE6CE;
}
.mnav__p{
    color: #BCFFDB;
}
body{
    background: #4F9D69;
}
.msection__h2, {
    color: #BEE6CE;
    font-size: 64px;
}
.hnav__ahref, .mnav__ahref, .msection__ahref{
    color: #8DFFCD;
}
.msection__h3{
    color: #8DFFCD;
    font-size: 32px;
}
.msection__h4{
    color: #8DFFCD;
    text-decoration: underline;
    font-size: 28px;
}